<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<ion-content>

  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-grid>
        <ion-row class="atrasbn">
          <ion-col size="0.1">
              <a (click)="irescr()"><i class="fa fa-arrow-left" id="atrasbtn"></i></a>
          </ion-col>
          <ion-col size="11.5">
              <ion-title id="atrastxt">Invertir</ion-title>
          </ion-col>
          
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
    <div id="container">
      
    <ion-card class="ion-no-margin"> 
      <ion-img  src="../../assets/images/header5.png"></ion-img>

      </ion-card>
    </div>
  </ion-content>